@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --cyan:hsl(179, 62%, 43%);
    --light-cyan:hsl(179, 62%, 48%);
    --yellow: hsl(71, 73%, 54%);
    --gray: hsl(204, 43%, 93%);
    --blue: hsl(218, 22%, 67%);
    --white: hsl(0, 0%, 100%);
}

html{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: normal;
}

.cyan{color: var(--cyan);}
.lcyan{color: var(--light-cyan);}
.yellow{color: var(--yellow);}
.gray{color: var(--gray);}
.blue{color: var(--blue);}
.white{color: var(--white)}

body{
    background-color: var(--gray);
    min-height: 100vh;
    height: auto;
    padding: 5em 2em;
}

main{
    overflow: hidden;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
    "sec1"
    "sec2"
    "sec3";

}

#sec1{
    background-color: var(--white);
    grid-area: sec1;
}
#sec1 p{font-size: 0.86rem;line-height: 2;}
#sec2{
    background-color: var(--cyan);
    grid-area: sec2;
}
#sec3{
    background-color: var(--light-cyan);
    grid-area: sec3;
}

section{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1.5em;
}

.title{font-size: 1.2rem;}
.subtitle, ul li{font-size: 0.9rem;}

.price{
    font-size: 2rem;
    font-weight: 700;
    margin-inline-end: 0.3em;
    vertical-align: middle;
}

.btn{
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    padding-block: 0.8em;
    margin-top: 1em;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 2px 10px 5px hsl(0 0% 0% / 10%);
}

ul{list-style: none; padding: 0;}

@media only screen and (min-width: 636px){
    body{
        padding: 0;
        display: grid;
        place-content: center;
    }

    main{
        max-width: 635px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "sec1 sec1"
        "sec2 sec3";
    }

    section{
        padding: 2.5em;
    }

    #sec1 .title{font-size: 1.5rem;}
    #sec1 .subtitle{font-size: 1.1rem;}
    #sec1 p{font-size: 1rem; line-height: 1.6;}
}